@*@model IEnumerable<THLWToolBox.Models.PlayerUnitData>*@
@model THLWToolBox.Models.PlayerUnitShotDataFilterViewModel
@using THLWToolBox.Helpers;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $('#nameinput1').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/PlayerUnitShotDataFilter/SearchUser',
                    dataType: 'json',
                    data: { term: $('#nameinput1').val() },
                    success: function (data) {
                        var result = $.map(data, function (item) {
                            return {
                                label: item
                            };
                        });
                        return response(result);
                    }
                });
            },
            select: function (event, ui) {
                event.preventDefault();
                $('#nameinput1').val(ui.item.label);
            },
            create: function () {
                $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    return $('<li>')
                        .append('<div id="ui-id-6" tabindex="-1" class="ui-menu-item-wrapper">'
                            + item.label + '<br></div>')
                        .appendTo(ul);
                };
            }
        });
    </script>
}

<p><b><font color="red">*数据更新日期：@Html.Raw(GeneralHelper.DATA_UPDATE_DATE)</font></b></p>

<h2>弹幕隐藏数据查询器</h2>
<p>
<p>说明:</p>
<p>1. "灵力回收效率"为每一发<b><font color="red">命中的</font></b>子弹回收的灵力量</p>
<p>2. 有关灵力回收机制详情见我的文章：<a href="https://www.bilibili.com/read/cv20750984">灵力回收机制详解</a></p>
<p>3. "弹幕补正"为乘在伤害计算最后的一个隐藏数据。后面的等级为弹幕等级，若是符卡则为觉醒等级，若是射击则为当前持有的灵力（向下取整）</p>
</p>

<p>
    <form asp-controller="PlayerUnitShotDataFilter" asp-action="Index" method="post">
        <p><b>角色名（带补全建议）:</b></p>
        <p><input type="text" id="nameinput1" asp-for="UnitName"></p>
        <p><b>泛异记号:</b></p>
        <p>
            <select asp-for="SymbolId" asp-items="Model.Symbols">
            <option value=null>任意</option>
            </select>
        </p>
        <p><b>射击/符卡种类:</b></p>
        <p>
        <select asp-for="ShotId">
            <option value=null>{必选}</option>
            <option value=1>扩散射击</option>
            <option value=2>集中射击</option>
            <option value=3>符卡一</option>
            <option value=4>符卡二</option>
            <option value=5>终符</option>
            </select>
        </p>
        <input type="submit" value="筛选" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                头像
            </th>
            <th>
                角色名
            </th>
            <th>
                泛异记号
            </th>
            <th>
                射击名
            </th>
            <th>
                灵力回收效率
            </th>
            <th>
                弹幕补正lv0
            </th>
            <th>
                弹幕补正lv1
            </th>
            <th>
                弹幕补正lv2
            </th>
            <th>
                弹幕补正lv3
            </th>
            <th>
                弹幕补正lv4
            </th>
            <th>
                弹幕补正lv5
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlayerUnitDatas!) {
        <tr>
            <td>
                <img src="@Url.Content("~/res/units_img/" + item.playerUnitData.id + ".png")" alt="暂无图片" width="70" height="70" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerUnitData.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerUnitData.symbol_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shot_name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.phantasm_power_up_rate)*@
                @Html.Raw((0.002 * item.phantasm_power_up_rate).ToString("0.000") + " ± " + (0.0008 * item.phantasm_power_up_rate).ToString("0.0000"))
            </td>
            <td>
                @Html.Raw((0.01 * item.shot_level0_power_rate).ToString("0.00"))
            </td>
            <td>
                @Html.Raw((0.01 * item.shot_level1_power_rate).ToString("0.00"))
            </td>
            <td>
                @Html.Raw((0.01 * item.shot_level2_power_rate).ToString("0.00"))
            </td>
            <td>
                @Html.Raw((0.01 * item.shot_level3_power_rate).ToString("0.00"))
            </td>
            <td>
                @Html.Raw((0.01 * item.shot_level4_power_rate).ToString("0.00"))
            </td>
            <td>
                @Html.Raw((0.01 * item.shot_level5_power_rate).ToString())
            </td>
        </tr>
}
    </tbody>
</table>
