@*@model IEnumerable<THLWToolBox.Models.PictureData>*@
@model THLWToolBox.Models.PictureDataViewModel
@using System.Text.RegularExpressions;
@using THLWToolBox.Helpers;

@{
    ViewData["Title"] = "Index";
}

<p><b><font color="red">*数据更新日期：@Html.Raw(GeneralHelper.DATA_UPDATE_DATE), 当前版本：@Html.Raw(GeneralHelper.VERSION_STR)</font></b></p>

<h2>绘卷筛选器</h2>
<p>
    <p>说明:</p>
    <p>1. 面板数值均为满级时的样子</p>
    <p>2. 面板类型若被勾选，则仅显示满足已勾选组合的绘卷。例如勾选体力和阳攻，则仅显示同时有体力+阳攻的绘卷</p>
</p>

<form asp-controller="PictureDatasFilter" asp-action="Index" method="post">
    <p><b>总览:</b></p>
    <p>@Html.CheckBox("SimplifiedEffect", true) 显示简略版效果(测试特性)</p>
    <p>
        绘卷等级:
        <select asp-for="DisplayPictureLevel">
            <option value=0>0级</option>
            <option value=1>1级</option>
            <option value=2>2级</option>
            <option value=3>3级</option>
            <option value=4>4级</option>
            <option value=5>5级</option>
            <option value=6>6级</option>
            <option value=7>7级</option>
            <option value=8>8级</option>
            <option value=9>9级</option>
            <option value=10>10级</option>
        </select>
    </p>
    <p><b>星级:</b></p>
    <p>@Html.CheckBox("RareType3", true) 三星 @Html.CheckBox("RareType4", true) 四星 @Html.CheckBox("RareType5", true) 五星</p>

    
    <p><b>绘卷效果组合查询:</b></p>
    <table class="table">
        <thead>
            <tr>
                <th>绘卷效果1:</th>
                <th>绘卷效果2:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <p>
                        绘卷效果类型
                        <select asp-for="EffectId" asp-items="Model.EffectTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        子类型
                        <select asp-for="SubeffectId" asp-items="Model.SubeffectTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        作用范围
                        <select asp-for="Range" asp-items="Model.RangeTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        角色式专用效果
                        <select asp-for="UnitRoleTypeId" asp-items="Model.UnitRoleTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        回合数
                        <select asp-for="TurnTypeId" asp-items="Model.TurnTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                </th>
                <th>
                    <p>
                        绘卷效果类型
                        <select asp-for="Effect2Id" asp-items="Model.EffectTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        子类型
                        <select asp-for="Subeffect2Id" asp-items="Model.SubeffectTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        作用范围
                        <select asp-for="Range2" asp-items="Model.RangeTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        角色式专用效果
                        <select asp-for="UnitRoleType2Id" asp-items="Model.UnitRoleTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                    <p>
                        回合数
                        <select asp-for="TurnType2Id" asp-items="Model.TurnTypes">
                            <option value=null>任意</option>
                        </select>
                    </p>
                </th>
            </tr>
        </tbody>
    </table>
    


    <p><b>面板(若选择，则筛选，并先按主属性排序再按副排序):</b></p>
    <p>
        <p>
            <font color="FF6600">主属性</font>
            <select asp-for="CorrTypeMain">
                <option value=null>{未选择}</option>
                <option value=1>体力</option>
                <option value=2>阳攻</option>
                <option value=3>阳防</option>
                <option value=4>阴攻</option>
                <option value=5>阴防</option>
                <option value=6>速度</option>
            </select>
        </p>
        <p>
        <font color="4CAFFF">副属性</font>
            <select asp-for="CorrTypeSub">
                <option value=null>{未选择}</option>
                <option value=1>体力</option>
                <option value=2>阳攻</option>
                <option value=3>阳防</option>
                <option value=4>阴攻</option>
                <option value=5>阴防</option>
                <option value=6>速度</option>
            </select>
        </p>
    </p>
    <input type="submit" value="筛选" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                名称
            </th>
            <th>
                星级
            </th>
            <th>
                面板1
            </th>
            <th>
                面板2
            </th>
            <th>
                未满破效果
            </th>
            <th>
                满破效果
            </th>
            <th>
                图片
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PictureDatas!)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rare)
            </td>
            <td>
                @Html.Raw(GeneralHelper.StringFromDatabaseForDisplay(GeneralTypeMaster.CorrectionStr(item.correction1_type, GeneralTypeMaster.CorrectionValueByLevel(item.correction1_value, item.correction1_diff, Model.DisplayPictureLevel.GetValueOrDefault()), Model.CorrTypeMain, Model.CorrTypeSub)))
            </td>
            <td>
                @Html.Raw(GeneralHelper.StringFromDatabaseForDisplay(GeneralTypeMaster.CorrectionStr(item.correction2_type, GeneralTypeMaster.CorrectionValueByLevel(item.correction2_value, item.correction2_diff, Model.DisplayPictureLevel.GetValueOrDefault()), Model.CorrTypeMain, Model.CorrTypeSub)))
            </td>
            <td>
                @Html.Raw(GeneralHelper.StringFromDatabaseForDisplay(Model.SimplifiedEffect.GetValueOrDefault(true) ? SimplifyEffectsHelper.CreateSimplifiedEffectStr(item.picture_characteristic1_effect_type, item.picture_characteristic1_effect_subtype, item.picture_characteristic1_effect_value, item.picture_characteristic1_effect_turn, item.picture_characteristic1_effect_range, Model.RaceDict) + "<ret>" +
                                                                                                                      SimplifyEffectsHelper.CreateSimplifiedEffectStr(item.picture_characteristic2_effect_type, item.picture_characteristic2_effect_subtype, item.picture_characteristic2_effect_value, item.picture_characteristic2_effect_turn, item.picture_characteristic2_effect_range, Model.RaceDict) + "<ret>" +
                                                                                                                      SimplifyEffectsHelper.CreateSimplifiedEffectStr(item.picture_characteristic3_effect_type, item.picture_characteristic3_effect_subtype, item.picture_characteristic3_effect_value, item.picture_characteristic3_effect_turn, item.picture_characteristic3_effect_range, Model.RaceDict)
                                                                                                                    : item.picture_characteristic_text))
            </td>
            <td>
                @Html.Raw(GeneralHelper.StringFromDatabaseForDisplay(Model.SimplifiedEffect.GetValueOrDefault(true) ? SimplifyEffectsHelper.CreateSimplifiedEffectStr(item.picture_characteristic1_effect_type, item.picture_characteristic1_effect_subtype, item.picture_characteristic1_effect_value_max, item.picture_characteristic1_effect_turn, item.picture_characteristic1_effect_range, Model.RaceDict) + "<ret>" +
                                                                                                                      SimplifyEffectsHelper.CreateSimplifiedEffectStr(item.picture_characteristic2_effect_type, item.picture_characteristic2_effect_subtype, item.picture_characteristic2_effect_value_max, item.picture_characteristic2_effect_turn, item.picture_characteristic2_effect_range, Model.RaceDict) + "<ret>" +
                                                                                                                      SimplifyEffectsHelper.CreateSimplifiedEffectStr(item.picture_characteristic3_effect_type, item.picture_characteristic3_effect_subtype, item.picture_characteristic3_effect_value_max, item.picture_characteristic3_effect_turn, item.picture_characteristic3_effect_range, Model.RaceDict)
                                                                                                                    : item.picture_characteristic_text_max))
            </td>
            <td>
                <img src="@Url.Content("~/res/pictures_img/" + item.id + ".png")" alt="暂无图片" width="70" height="70" />
            </td>
        </tr>
}
    </tbody>
</table>
