@model IEnumerable<THLWToolBox.Models.PictureData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.album_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.illustrator_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.circle_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flavor_text1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flavor_text2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flavor_text3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flavor_text4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flavor_text5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correction1_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correction1_value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correction1_diff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correction2_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correction2_value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correction2_diff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic1_effect_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic1_effect_subtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic1_effect_value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic1_effect_value_max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic1_effect_turn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic1_effect_range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic2_effect_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic2_effect_subtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic2_effect_value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic2_effect_value_max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic2_effect_turn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic2_effect_range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic3_effect_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic3_effect_subtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic3_effect_value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic3_effect_value_max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic3_effect_turn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic3_effect_range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic_text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture_characteristic_text_max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recycle_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_show)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.album_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.illustrator_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.circle_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flavor_text1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flavor_text2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flavor_text3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flavor_text4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flavor_text5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correction1_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correction1_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correction1_diff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correction2_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correction2_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correction2_diff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic1_effect_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic1_effect_subtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic1_effect_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic1_effect_value_max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic1_effect_turn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic1_effect_range)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic2_effect_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic2_effect_subtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic2_effect_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic2_effect_value_max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic2_effect_turn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic2_effect_range)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic3_effect_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic3_effect_subtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic3_effect_value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic3_effect_value_max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic3_effect_turn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic3_effect_range)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic_text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_characteristic_text_max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recycle_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_show)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
